<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}Ecommerce Fruits & légumes{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('tmp/css/min.css') }}">
    <link rel="stylesheet" href="{{ asset('tmp/css/style-min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bower_components/angular-route/angular-route.min.js') }}"></script>
    <script src="{{ asset('bower_components/angular-resource/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tmp/js/bootstrap-min.js') }}"></script>

</head>
<body ng-app="appEcommerce">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#/">Ecommerce</a>
            <div class="nav-collapse collapse">
                {# Recherche #}
                <filter-produit></filter-produit>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">

            <div class="span3">
                <filter-by-categorie></filter-by-categorie>
            </div>
            <div class="span9">
                {#{% for flashMessage in app.session.flashbag.get('success') %}#}
                    {#<div class="alert alert-success">#}
                        {#{{ flashMessage }}#}
                    {#</div>#}
                {#{% endfor %}#}
                <div ng-view></div>
            </div>
        </div>
    </div>

</div>
<hr />
<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    {#{{ render(controller('PagesBundle:Pages:menu')) }}#}
                </ul>
            </div>

            <div class="span4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i>&nbsp;{{ rue }}</p>
            </div>

            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright {{ "now"|date('Y') }} - Ecommerce</p>
            </div>
        </div>
    </div>
</footer>


<script src="{{ asset('bundles/ecommercefrontangular/js/app.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/controller/ProduitCtr.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/controller/CategorieCtr.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/directive/filterProduit.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/directive/filterCategorie.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/service/produit.js') }}"></script>
<script src="{{ asset('bundles/ecommercefrontangular/js/service/categorie.js') }}"></script>
<script type="text/javascript" src="{{ asset('tmp/js/bundles/fosjsrouting/js/router-min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>