<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}Ecommerce Fruits & légumes{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('tmp/css/min.css') }}">
    {#{% stylesheets filter="scssphp" output="css/app.css"
        'css/bootstrap.css'
        'css/bootstrap-responsive.css'
        'css/style.css'
        'css/font-awesome.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('produit_produits') }}">Ecommerce</a>
            <div class="nav-collapse collapse">
                {{ render(controller('EcommerceFrontBundle:Produit:recherche')) }}
            </div>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
<hr />
<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    {{ render(controller('PagesBundle:Pages:menu')) }}
                </ul>
            </div>

            <div class="span4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i>&nbsp;{{ rue }}</p>
            </div>

            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright {{ "now"|date('Y') }} - Ecommerce</p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{{ asset('tmp/js/min.js') }}"></script>
{#{% javascripts filter="?jsqueeze" output="js/app.js"
    'js/jquery-1.10.0.min.js'
    'js/bootstrap.js'
    'js/ajax.js'
    'bundles/fosjsrouting/js/router.js'
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}#}
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>