<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('back_produits') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('back_categorie') }}">Catégories produits</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{#{{ path('adminUtilisateurs') }}#}">Clients</a>
            </li>
            <li>
                <a href="{{ path('back_commande') }}">Commandes</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages_index') }}">Pages</a>
            </li>
        </ul>
    </div>    
</div>