<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
        </li>
        <li>
            <a href="{{ path('user_facture') }}">Mes factures</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}"><strong>Admin</strong></a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
        </li>
    </ul>
</div>